[Unit]
Description=Jukebox
Requires=mopidy.service

[Service]
User=pi
Type=simple
ExecStart=/usr/share/jukebox/start
WorkingDirectory=/usr/share/jukebox
Restart=always

[Install]
WantedBy=multi-user.target
